<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Moments</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>form</servlet-name>
    <servlet-class>com.servlets.EventPlanningForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>form</servlet-name>
    <url-pattern>/eform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getFormData</servlet-name>
    <servlet-class>com.servlets.GetEventDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFormData</servlet-name>
    <url-pattern>/getEventData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEventFormServlet</display-name>
    <servlet-name>UpdateEventFormServlet</servlet-name>
    <servlet-class>com.servlets.UpdateEventFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventFormServlet</servlet-name>
    <url-pattern>/updateEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEventServlet</display-name>
    <servlet-name>DeleteEventServlet</servlet-name>
    <servlet-class>com.servlets.DeleteEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEventServlet</servlet-name>
    <url-pattern>/deleteEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserDetaServlet</display-name>
    <servlet-name>GetUserDetaServlet</servlet-name>
    <servlet-class>com.servlets.GetUserDetaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserDetaServlet</servlet-name>
    <url-pattern>/viewProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanningRequestsServlet</display-name>
    <servlet-name>PlanningRequestsServlet</servlet-name>
    <servlet-class>com.servlets.PlanningRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanningRequestsServlet</servlet-name>
    <url-pattern>/requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptEventServlet</display-name>
    <servlet-name>AcceptEventServlet</servlet-name>
    <servlet-class>com.servlets.AcceptEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptEventServlet</servlet-name>
    <url-pattern>/acceptEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectEventServlet</display-name>
    <servlet-name>RejectEventServlet</servlet-name>
    <servlet-class>com.servlets.RejectEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectEventServlet</servlet-name>
    <url-pattern>/rejectEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAcceptEventList</display-name>
    <servlet-name>GetAcceptEventList</servlet-name>
    <servlet-class>com.servlets.GetAcceptEventList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAcceptEventList</servlet-name>
    <url-pattern>/approvedEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEventCordinatorsServlet</display-name>
    <servlet-name>GetEventCordinatorsServlet</servlet-name>
    <servlet-class>com.servlets.GetEventCordinatorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventCordinatorsServlet</servlet-name>
    <url-pattern>/manageCordi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveEventCordinatorServlet</display-name>
    <servlet-name>RemoveEventCordinatorServlet</servlet-name>
    <servlet-class>com.servlets.RemoveEventCordinatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveEventCordinatorServlet</servlet-name>
    <url-pattern>/removeCordi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAddNewECSevlet</display-name>
    <servlet-name>GetAddNewECSevlet</servlet-name>
    <servlet-class>com.servlets.GetAddNewECSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAddNewECSevlet</servlet-name>
    <url-pattern>/addNewEventCordi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewEventCordiServlet</display-name>
    <servlet-name>AddNewEventCordiServlet</servlet-name>
    <servlet-class>com.servlets.AddNewEventCordiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewEventCordiServlet</servlet-name>
    <url-pattern>/addNewCordinator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFAQServlet</display-name>
    <servlet-name>GetFAQServlet</servlet-name>
    <servlet-class>com.servlets.GetFAQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFAQServlet</servlet-name>
    <url-pattern>/faq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFaqServlet</display-name>
    <servlet-name>InsertFaqServlet</servlet-name>
    <servlet-class>com.servlets.InsertFaqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFaqServlet</servlet-name>
    <url-pattern>/insertFaq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaqUpdateServlet</display-name>
    <servlet-name>FaqUpdateServlet</servlet-name>
    <servlet-class>com.servlets.FaqUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqUpdateServlet</servlet-name>
    <url-pattern>/faqUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShowFaqServlet</display-name>
    <servlet-name>GetShowFaqServlet</servlet-name>
    <servlet-class>com.servlets.GetShowFaqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShowFaqServlet</servlet-name>
    <url-pattern>/showfaq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetEventBudgetServlet</display-name>
    <servlet-name>SetEventBudgetServlet</servlet-name>
    <servlet-class>com.servlets.SetEventBudgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetEventBudgetServlet</servlet-name>
    <url-pattern>/setBudget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShowALLBudgetServlet</display-name>
    <servlet-name>GetShowALLBudgetServlet</servlet-name>
    <servlet-class>com.servlets.GetShowALLBudgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShowALLBudgetServlet</servlet-name>
    <url-pattern>/showBudgetAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBudgetServlet</display-name>
    <servlet-name>UpdateBudgetServlet</servlet-name>
    <servlet-class>com.servlets.UpdateBudgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBudgetServlet</servlet-name>
    <url-pattern>/updateBudget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBudgetServlet</display-name>
    <servlet-name>DeleteBudgetServlet</servlet-name>
    <servlet-class>com.servlets.DeleteBudgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBudgetServlet</servlet-name>
    <url-pattern>/deleteBudget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetECApprovdEventList</display-name>
    <servlet-name>GetECApprovdEventList</servlet-name>
    <servlet-class>com.servlets.GetECApprovdEventList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetECApprovdEventList</servlet-name>
    <url-pattern>/approvedECEventlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetECprofile</display-name>
    <servlet-name>GetECprofile</servlet-name>
    <servlet-class>com.servlets.GetECprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetECprofile</servlet-name>
    <url-pattern>/ecViewProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateECProfileServlet</display-name>
    <servlet-name>UpdateECProfileServlet</servlet-name>
    <servlet-class>com.servlets.UpdateECProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateECProfileServlet</servlet-name>
    <url-pattern>/updateECProfile</url-pattern>
  </servlet-mapping>
</web-app>